---
title: インチキプログラム言語解説
---
/- page_name = File.basename(current_page.path, ".*")
/- part_dirname = File.join(File.dirname(current_page.path), page_name)
/- part_dirname_path = File.join(settings.source, part_dirname)
h2 はじめに
p
  | どんなプログラミング言語を学べばいいかわからないっていうプログラム言語初心者向けに作りました。作者の独断と偏見に基づいているため、本気にしないでね。
p
  | 解説する言語で参考にした文献はこちらです。
  ul
    li == link_to "paiza.hatena.blog.com - 【Javaが恐ろく強い】転職時に希望するプログラミン", "http://paiza.hatenablog.com/entry/2014/10/07/【Javaが恐ろく強い】転職時に希望するプログラミン"
    li == link_to "slashdot.jp - IEEE-Spectrumのプログラミング言語ランキング、総合1位はJava", " http://developers.slashdot.jp/story/14/07/11/0414204/IEEE-Spectrumのプログラミング言語ランキング、総合1位はJava"
h2 言語解説
/- Dir.foreach(part_dirname_path) do |e|
/  - if e =~ /_(.*)\.md$/
/    - name = $1
/    .panel.panel-default
/      .panel-heading
/        h3.panel-title = name
/      .panel-body
/        == partial File.join(part_dirname, name)
h2 総評
p
  | TIOBEのランキングを見るとRubyが10位圏内から脱落していますが、他のランキングではPythonに次ぐ人気を誇っています。いつまでたってもPythonを抜けませんが。Ruby on Railsの人気に衰えが見えない事を考えると、単にRailsって書く人が多すぎるのかもしれません。
  | 求人と経験のギャップはRubyが面白いことになっています。JavaとPHPは求人も多いけどできる人も多いという現状を表していると思われます。
p
  | ということで、一度はRubyの聖地松江市に行ってみたいとも思った作者でした。
