---
title: 一般スタイルガイド
---
h2 目的
p このスタイルガイドは、各言語で異なる標準的なスタイルを一般化することで、言語比較時に対比がわかりやすくすることが目的です。決して、このスタイルガイドをそれぞれの言語に適用することを推奨するものではありません。
p そもそも、スタイルはエディタに任せればいいのです。優秀なエディタは正しい形へフォーマットしてくれます。そうすれば、自ずと全て同じスタイルになります。

h2 書き方
h3 インデントは半角スペース2文字
h4 内容
p 通常のインデントは半角スペース2文字とします。タブを使用してはいけません。
h4 利点
p 優秀なIDEを使用する場合、変数名や関数名は長くなる傾向があります。インデントが深くなる言語も存在します。しかし、1行の幅はx文字換算で80文字にすべきです。そのため、インデントの幅を取り過ぎると書き切れなくなる恐れがあります。なお、1文字では幅が小さすぎて、インデントされていることがわかりにくくなります。
p タブ文字はエディタによって幅が異なるため、採用すべきではありません。
h4 欠点
p 古くからインデントはタブ文字と決まっています。また、Pythonは伝統的に4文字を採用しています。
p キーを2回押すことは動作の無駄です。
h4 結論
p 伝統は捨てるべきです。特にタブでインデントは悪習です。タブキーを押すことで半角スペース2文字でインデントするエディタは数多く存在します。ただ、Pythonだけであれば、半角スペース4文字がいいかもしれません。しかし、Pythonでタブをインデントに使用してはいけません。そのようなコードは今すぐ半角スペース8文字に置換してください。
