---
title: 型
---
h2 はじめに
p 各言語の型について。
h2 型の種類
p 型は大きく分けるとプリミティブ型と複合型に分かれる。プリミティブ型はデータの基本になるもので整数なのが該当する場合が多い。複合型はそのプリミティブ型を組み合わせたものになる。配列や構造体が複合型に該当する。
p オブジェクト指向言語では少し複雑になる。オブジェクト指向のオブジェクト型も複合型の一種になるが、純粋オブジェクト指向言語(例えばRuby)ではプリミティブ型は存在しない。JavaのようにintとIntegerと整数を表す型がプリミティブ型とオブジェクト型両方が用意されている言語もある。また、クラス型とクラス用の型が用意されている場合もあるが、クラス型をオブジェクト型の一種とする言語もある。
p 他に関数などを型の一種ととらえる事もできる。一つ一つ見ていきたいと思う。
